* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "sukhumvitSetMedium";
    /*Can be any text*/
    src: local("sukhumvitSet-Medium"),
        url("../Fonts/sukhumvit/ttf/SukhumvitSet-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "sukhumvitSetBold";
    /*Can be any text*/
    src: local("sukhumvitSet-Bold"),
        url("../Fonts/sukhumvit/ttf/SukhumvitSet-Bold.ttf") format("truetype");
}

* {
    font-family: "sukhumvitSetMedium";
}


.bg-main-header {
    background-image: url(../../Assets/Images/bg-top-nav.png);
    /* background-color: #B5D3ED; */
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    overflow: hidden;
}

.section-main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    /* background-color: #EB4B45; */
}

.pc {
    display: block;
}

.mb {
    display: none;
}


/* -------------------------- Start Home --------------------------  */

.home-image {
    background-image: url(../../../src/Assets/Images/BgHome.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.bg-main-footer {
    position: fixed;
    bottom: 0;
    background-image: url(../../Assets/Images/BottomNav.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 130px;
}


.promotion-bg-image {
    background-image: url(../../../src/Assets/Images/BgHome.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
    min-height: 100vh;
}

/* -------------------------- End Home --------------------------  */

/* -------------------------- Start Promotion --------------------------  */

.div-main-promotion-page {
    padding-bottom: 70px;

}

.session-title-promotion {
    text-align: center;
    margin: 50px 0px 10px 0px;

}


.seesion-title-catgory {
    background-image: url(../../Assets/Images/MenuPromotion.png);
    /* background-color: #B5D3ED; */
    height: 100%;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%;
    overflow: hidden;
    margin: 0 auto 30px auto;
    padding: 20px 0;
}

.seesion-title-catgory p {
    color: aquamarine;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.session-banner-promotion {
    text-align: center;
}

.box-banner-promotion {
    display: inline-block;
    width: 32%;
    margin: 0 30px 30px 30px;
}

.box-banner-promotion img {
    border-radius: 14px;
}

.active-promotion-category p {
    color: white !important;
}

/* -------------------------- End Promotion --------------------------  */
@media screen and (max-width:1200px) {
    .nav-con {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #0000005b;
        opacity: 0.8;
        width: 70%;
        height: 40px;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }
}

@media screen and (max-width:990px) {
    .pc {
        display: none;
    }

    .mb {
        display: block;
    }

    .home-image {
        background-image: url(../../../src/Assets/Images/BgHome.png);
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        padding-bottom: 150px;

    }

    .alert-home {
        width: 90%;
        margin: 30px auto 0 auto;
        /* border: 30px solid transparent; */
        /* border-image: url(../../../src/Assets/Images/Border.png) 25 stretch; */
        border-width: 100%;
        color: aquamarine;
        font-size: 16px;
        display: flex;
    }




}

@media screen and (max-width:768px) {

    .box-banner-promotion {
        display: inline-block;
        width: 60%;
        margin: 0 30px 30px 30px;
    }

    .seesion-title-catgory {
        background-image: url(../../Assets/Images/MenuPromotion.png);
        /* background-color: #B5D3ED; */
        height: 100%;
        width: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 70%;
        overflow: hidden;

        margin: 0 auto 30px auto;
        padding: 20px 0;
    }

    .seesion-title-catgory p {
        color: aquamarine;
        text-decoration: none;
        font-size: 18px;
        cursor: pointer;
    }

}

@media screen and (max-width:576px) {

    .seesion-title-catgory {
        background-image: url(../../Assets/Images/MenuPromotion.png);
        /* background-color: #B5D3ED; */
        height: 100%;
        width: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 70%;
        overflow: hidden;

        margin: 0 auto 30px auto;
        padding: 20px 0;
    }

    .seesion-title-catgory p {
        color: aquamarine;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .box-banner-promotion {
        display: inline-block;
        width: 70%;
        margin: 0 30px 30px 30px;
    }

}